/********** Generic selectors **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

/********** Main generic selectors **********/

main {
    background-color: #222;
    color: grey;
    width: 100%;
    height: calc(100vh - 5rem);
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: grey;
}
.m-top1 {
    margin-top: 0.5rem;
}
.m-bottom30 {
    margin-bottom: 33rem;
}
a:hover {
    color: white;
}

.border-white {
    border-bottom: 1px solid white;
}

h6 {
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
}
/********** Burger menù **********/

.burger-menu {
    background-color: black;
    width: 15%;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo {
    width: 60%;
    margin-bottom: 2rem;
}

.command-section {
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.command-section:hover {
    border-left: 1px solid yellow;
    color: white;
}

.patch-command {
    width: 5%;
}

.download-png {
    width: 5%;
    margin-left: 0;
}
/********** Central section **********/

.discovery-section {
    overflow: auto;
    width: 85%;
}

.upgrade-zone {
    width: 100%;
    background-color: #080b12;
    padding: 2rem 0;
    display: flex;
    justify-content: end;

}

.upgrade-btn {
    background-color: #080b12;
    color: white;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-right: 2rem;
}

.upgrade-btn:hover {
    padding: 20px;
    border-radius: 60px;
}


.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    
}

.menu-selector:hover {
    border-bottom: 1px solid greenyellow;
}
/********** Nav **********/
nav {
    background-color: gray;
    height: 5rem;
}