/********** Generic selectors **********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
    font-weight: 400;
    font-style: normal;
}

/********** Main generic selectors **********/

main {
    background-color: #141922;
    color: grey;
    width: 100%;
    height: calc(100vh - 5rem);
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: grey;
}
.m-top1 {
    margin-top: 0.5rem;
}

.m-right {
    margin-right: 1rem;
}

.m-left {
    margin-left: 1rem;
}

a:hover {
    color: white;
}

.border-white {
    border-bottom: 1px solid white;
}

.padding {
    padding: 0.5rem;
}
h3 {
    padding: 0.5rem 0;
    color: white;
}
h6 {
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
}
/********** Burger menù **********/

.burger-menu {
    background-color: black;
    width: 15%;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.burger-high-section {
    height: 90%;
}

.burger-lower-section {
    height: 10%;
}
.logo {
    width: 100%;
    margin-bottom: 2rem;
}

.logo-mini {
    display: none;
}
.command-section {
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.command-section:hover {
    border-left: 1px solid yellow;
    color: white;
}

.playlist-zone { 
    overflow: auto;
}
/********** Central section **********/

.discovery-section {
    overflow: auto;
    width: 85%;
}

.upgrade-zone {
    width: 100%;
    background-color: #080b12;
    padding: 2rem 0;
    display: flex;
    justify-content: end;

}

.upgrade-btn {
    background-color: #080b12;
    color: white;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-right: 2rem;
}

.upgrade-btn:hover {
    padding: 20px;
    border-radius: 60px;
}


.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0;
    
}

.menu-selector:hover {
    border-bottom: 1px solid greenyellow;
}

.card-container {
    align-items: flex-start;
    padding: 1rem 0;
    gap: 1rem;
}

.card-recently,
.card-mix,
.card-popular {
    width: calc((100% / 6) - 1rem);
    text-align: center;
    position: relative;
}

.img-card,
.img-card-popular {
    width: 100%;
    margin-bottom: 0.5rem;
}

.img-card-popular {
    aspect-ratio: 1;
    border-radius: 50%;
}

.play {
    position: absolute;
    top: 22%;
    right: 35%;
    font-size: 50px;
    color: #ffffff;
    visibility: hidden;
}

.card-recently:hover {
    .play {
        visibility: visible;
        box-shadow:0px 0px 15px  rgba(255, 255, 255, 0.8);
        border-radius: 50%;
    }
}

.card-mix:hover {
    .play {
        visibility: visible;
        box-shadow:0px 0px 15px  rgba(255, 255, 255, 0.8);
        border-radius: 50%;
    }
}

.card-popular:hover {
    .play {
        visibility: visible;
        box-shadow:0px 0px 15px  rgba(255, 255, 255, 0.8);
        border-radius: 50%;
    }
}
/********** Nav **********/
nav {
    background-color: #282828;
    height: 5rem;
    color: grey;
}

.nav-bar {
    justify-content: space-between;
    height: 5rem;
}

.lateral-nav {
    width: 25%;
    padding: 0.5rem;
    justify-content: left;
    align-items: center;

}

.central-nav {
    width: 50%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.track-column {
    width: calc(100% / 4);
    text-align: center;
}

.track-cta {
    margin: 0 1rem;
}
.player-img {
    width: 90%;
}

.name-track {
    display: flex;
    flex-direction: column;
}

.up-player {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem
}

.slidercontainer {
    width: 100%;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background: #d3d3d3;
    outline: green;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  
  .slider:hover {
    opacity: 1;
    background-color: #04AA6D;
  }
  
  .volume-container {
    width: 60%;
  }


/********** Media queries **********/
  @media screen  and (max-width: 1102px){
        body,
        .command-section{
            font-size: 0.7rem;
        }

        h3,
        h6 {
            font-size: 1rem;
        }

        .player-img {
            width: 100%;
        }

        .name-track {
            width: 40%;
        }
  }

  @media screen  and (max-width: 810px){
        
        .name-track {
            display: none;
        }
    
        .card-container {
            flex-wrap: wrap;
        }
    
        .play {
            top: 22%;
            right: 31%;
        }
        .card-recently,
        .card-mix,
        .card-popular {
            width: calc((100% / 4) - 1rem);
        }

        .player-img {
            width: 300%;
        }
  }

  @media screen  and (max-width: 810px){
        
    .burger-menu {
        padding: 0.5rem;
    }
   
    .name-track {
        display: none;
    }

    .card-container {
        flex-wrap: wrap;
    }

    .play {
        top: 22%;
        right: 31%;
    }
    .card-recently,
    .card-mix,
    .card-popular {
        width: calc((100% / 4) - 1rem);
    }

    .player-img {
        width: 150%;
    }

    .fa-heart {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .hidden {
        display: none;
    }
}

@media screen  and (max-width: 580px){

    .logo {
        display: none;
    }

    .logo-mini {
        display: block;
    }

   
    .command-section {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .play {
        top: 28%;
        right: 37%;
    }

    .card-recently,
    .card-mix,
    .card-popular {
        width: calc((100% / 2) - 1rem);
    }

    span {
        display: none;
    }
}